<%- include('partials/header'); -%>
<%- include('partials/navigator'); -%>

<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" id="name" class="form-control" autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">LastName</label>
                            <input type="text" name="lastName" id="lastName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="nickName" class="form-label">NickName</label>
                            <input type="text" name="nickName" id="nickName" class="form-control">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>