<%- include('partials/header'); -%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">Api</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-3">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">/api</li>
            <li class="list-group-item">/api/add</li>
            <li class="list-group-item">/api/delete/:id</li>
            <li class="list-group-item">/api/update/:id</li>
        </ul>
        <h5>usar una aplicacion como postman en todas las rutas menos la primera</h5>
    </div>
</div>


<%- include('partials/footer'); -%>